h1 {
   color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

body {
    background-color: black;
}

.finicimg {
    margin-top: 50px;
    margin-bottom: 10px;
}

.firstimg {
    margin-left: 0px;
}